@page "/encabezado"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>ENCABEZADO REGISTROS</PageTitle>
@attribute [Authorize(Roles = "Admin")]

        <div class="header-container">
            <div class="top-banner">
                <span>ESTAMOS PARA SERVIR Y LA POBLACIÓN Y AYUDARLOS A MEJORAR SU CALIDAD DE VIDA</span>
                <a href="/inicio" class="btn btn-danger exit-button">Volver</a>
            </div>
            <div class="main-title">
                CENTRO DE SALUD PATZICIA
            </div >
        </div>

        @using Microsoft.AspNetCore.Components.Web

        <h4 class="text-center">user está en el módulo de Encabezado</h4>
        <div class="container my-5">
            <h4>Datos Generales del Servicio</h4>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="areaSalud" class="form-label">Área de Salud</label>
                    <input type="text" class="form-control" id="areaSalud" @bind-value="Encabezado.areaSalud"  placeholder="Ingrese el Área de Salud">
                </div>
                <div class="col-md-6">
                    <label for="distritoSalud" class="form-label">Distrito de Salud</label>
                    <input type="text" class="form-control" id="distritoSalud" @bind-value="Encabezado.distritoSalud" placeholder="Ingrese el Distrito de Salud">
                </div>
                <div class="col-md-6">
                    <label for="municipio" class="form-label">Municipio</label>
                    <input type="text" class="form-control" id="municipio" @bind-value="Encabezado.municipio" placeholder="Ingrese el Municipio">
                </div>
                <div class="col-md-6">
                    <label for="servicioSalud" class="form-label">Servicio de Salud</label>
                    <input type="text" class="form-control" id="servicioSalud" @bind-value="Encabezado.servicioSalud" placeholder="Ingrese el Servicio de Salud">
                </div>
                <div class="col-md-6">
                    <label for="responsableInformacion" class="form-label">Responsable de la Información</label>
                    <input type="text" class="form-control" id="responsableInformacion" @bind-value="Encabezado.responsableInformacion" placeholder="Ingrese el Nombre">
                </div>
                <div class="col-md-6">
                    <label for="cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="cargo" @bind-value="Encabezado.cargo" placeholder="Ingrese el Cargo">
                </div>
                <div class="col-md-4">
                    <label for="firma" class="form-label">Firma</label>
                    <input type="text" class="form-control" id="firma" @bind-value="Encabezado.firma" placeholder="Firma">
                </div>
            </div>
            <hr class="my-4">
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-info" @onclick="InsertEncabezado">GUARDAR REGISTRO</button>
                    <button type="button" class="btn btn-outline-danger">CANCELAR</button>
                </div>
            </div>
        </div>
   
@code{
    ModeloEncabezado Encabezado = new ModeloEncabezado();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    public void InsertEncabezado()
    {
        ConsultasSql.InsertEncabezado(Encabezado);
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationState;
            var user = authState;
        }
        catch (Exception)
        {


        }
    }
}