@page "/estadisticas"
<PageTitle>VER ESTADISTICAS</PageTitle>
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize(Roles = "Admin")]

		<div class="header-container">
			<div class="top-banner">
				<span>ESTAMOS PARA SERVIR Y LA POBLACIÓN Y AYUDARLOS A MEJORAR SU CALIDAD DE VIDA</span>
				<a href="/inicio" class="btn btn-danger exit-button">Volver</a>
			</div>
			<div class="main-title">
				CENTRO DE SALUD PATZICIA
			</div>
		</div>

		<div class="container text-center mt-5">
			<h4 class="titulo-en-desarrollo mb-4">Apartado en Desarrollo</h4>
			<div class="animacion-espera"></div>	
		</div>
	@code{
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }
	protected override async Task OnInitializedAsync()
	{
		try
		{
			var authState = await authenticationState;
			var user = authState;
		}
		catch (Exception)
		{


		}
	}
	}
